<div id="lhnav">
  <ul>
    <li> <a href="#"> Home </a></li>
    <li> <a href="#"> Homework &amp; Labs</a></li>
    <li> <a href="#"> Syllabus </a></li>
    <li> <a href="#"> Moodle </a></li>
    <li> <a href="#"> About </a></li>
  </ul>
</div>
    
<a href="http://www.flickr.com/photos/aarongeller/360135019/" title="Clock- Simplicity vs. Complexity by Aaron Geller, on Flickr"><img src="http://farm1.staticflickr.com/132/360135019_d30bb16877_m.jpg" width="240" height="160" alt="Clock- Simplicity vs. Complexity"></a>