<p>
  <small>
  This website is provided under a CC BY-SA license by the 
  <a href="http://github.com/bereacs/babw">The Berea CIS Department</a>.
  <br/>
    Spring 2013 offering of AAAD taught by Matt Jadud
    <br/>
    Theme by <a href="https://github.com/orderedlist">orderedlist</a>
      </small>
</p>
          
<!--      
<a href="http://www.flickr.com/photos/byte/5153816526/" title="Android logo by byte, on Flickr">
  <img src="http://farm2.staticflickr.com/1349/5153816526_23148c0c59_q.jpg" 
  width="75" height="75" alt="Android logo">
</a>
-->
