<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Oswald:400,700|Montserrat' 
    rel='stylesheet' type='text/css'>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Minimal by Steve Smith</title>
    
    <link rel="stylesheet" href="css/minimal.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1> Better Apps for a <br/> Better World</h1>
        <p> {{ site.tagline }} </p>
        
          <a href="http://www.flickr.com/photos/asirap/5587611705/" title="Android cake pops by asirap, on Flickr">
            <img src="http://farm6.staticflickr.com/5266/5587611705_2aa6dfbe31_m.jpg" 
            width="240" height="160" alt="Android cake pops">
          </a>
        
          <p>&nbsp;</p>
        
          {% include minimal-nav.html %}
        
      </header>
      <section>
         {{ content }}
      </section>
      <footer>
        <p>
          <small>
          This website is provided under a CC BY-SA license by the 
          <a href="http://github.com/bereacs/babw">The Berea CIS Department</a>.
          </small>
        </p>
        
        <p><small>
          Spring 2013 offering of BA4aBW taught by <br/>
          Matt Jadud and Jan Pearce
        </small></p>
        
        <a href="http://www.flickr.com/photos/byte/5153816526/" title="Android logo by byte, on Flickr">
          <img src="http://farm2.staticflickr.com/1349/5153816526_23148c0c59_q.jpg" 
          width="75" height="75" alt="Android logo">
        </a>
        
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>